@import '../../styles/variables.scss';

.about {
    margin: 2rem 1rem 3rem;

    &_h2 {
        text-align: center;
        font-family: $font-pt;
        @include headings(2rem, 600);
        color: $orange;
        margin-bottom: 1rem; 
        text-decoration: underline;
    }

    &_description {
        &_pic {
            max-width: 80%;
            margin: auto;

            img {
                max-width: 100%;
            }
        }

        p {
            width: 80%;
            margin:  1rem auto;
        }
    }

}

@media (min-width: 720px) {
    .about {
        margin: 2rem 2rem 3rem;

        &_h2 {
            text-align: start;
        }
    
        &_description {
            display: flex;
            justify-content: space-between;
        
            &_pic {
                max-width: 30%;
                margin: 0 0rem 0.6rem;
        
                img {
                    max-width: 100%;
                }
            }
        
            p {
                width: 65%;
                margin:  0rem auto;
            }
        }
    }

}

