@import '../../../styles/variables.scss';

* {
  overflow-x: hidden;
}

.header {
  box-shadow: (0px 4px 6px rgba(0, 0, 0, 0.25));
  overflow-x: hidden;

  &__bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $dark-blue;
      height: 6vh;
      width: 100vw;
      overflow-x: hidden;
    
        &__logo {
          color: white;
          font-family: $font-pt;
          @include headings(1.4rem, 500);
          letter-spacing: 0.1rem;
          margin-left: 1rem;
          text-decoration: none;
        }
    
        &__logo:hover {
          cursor: pointer;
        }
    
        &__menu {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 6vh;
  
          &__lang {
              color: white;
              font-family: $font-pt;
              @include headings(0.8rem, 500);
              letter-spacing: 0.1rem;
              margin-left: 1rem;
          }

          &__lang:hover {
           transform: scale(1.1);
           color: $light-blue;
           cursor: pointer;
        }
  
    
          &__line {
            cursor: pointer;
            display: block;
            margin-right: 1rem;
    
            &__1 {
              width: 2rem;
              height: 0.1rem;
              margin: 8px;
              background-color: white;
            }
          }

          &__line:hover {
            transform: scale(1.05);
          }
    
          &__ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            position: fixed;
            top: 6vh;
            width: 100vw;
            right: 0;
            height: 94vh;
            background-color: $white;
            transform: translateX(100%);
            transition: 0.5s;
            // display: none;
          
            &__link {
              text-decoration: none;
              color: $dark-blue;
              font-family: $font-exo;
              @include headings(1rem, 500);
              letter-spacing: 0.1rem;
              margin: 1rem 0;
            }
    
            &__link:hover {
              transform: scale(1.02);
              cursor: pointer;
              transition: 0.3s;
              color: $light-blue;
              width: 100%;
              text-align: center;
            }
          }
    
          &__ul.active {
            transform: translateX(0);
            transition: 0.5s;
          }
        }
    }
}
  
  @media (min-width: 720px) {
    .header__bar {
      overflow-x: hidden;

      &__logo {
        margin-left: 2rem;
      }
    }
  } 
  
  @media (min-width: 820px) {
    .header__bar {
      height: 10vh;
      display: flex;
      // overflow-x: hidden;

  
      &__logo {
        @include headings(1.8rem, 400);
        letter-spacing: 0.2rem;
        margin-left: 2rem;
      }
  
      &__menu__ul {
        width: 100vw;
        height: 90vh;
        top: 10vh;
      }
  
      &__menu__line__1 {
        width: 2.0rem;
        height: 2px;
        margin: 5px 2rem;
      }
    }
  }