@import '../../styles/variables.scss';

.skills {
    max-width: 80%;
    margin: auto;
    &_title {
        margin: 2rem 0 3rem;
        text-align: center;

        &_1 {
            font-family: $font-exo;
            color: $orange;
            text-decoration: underline;
        }
    }

    &_container {
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin: auto;
        flex-flow: row wrap;

        &_div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_icons {
            margin: 1rem 2rem;
            width: 50px;
            fill: $dark-blue;

            p {
                margin-top: 0.5rem;
            }
        }
    }
}

@media (min-width: 720px) {

    .skills {
        &_container{
            &_div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &_icons {
                width: 60px;
            }
        }
    }

}



