@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;  
}

.App {
  margin-bottom: 1rem;
  overflow-x: hidden;
  width: 100vw;


  &__pages{
    max-width: 1350px;
    display: flex;
    align-items: center;
    overflow-x: hidden;

  }  
}





